:root {
  --primary-color: #21243d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Heebo", serif;
  color: var(--primary-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  padding-top: 2.7rem;
}

/* nav */
.header__nav {
  display: flex;
  margin-left: auto;
  margin-right: 6rem;
}

.header__nav--item {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 3.3rem;
}

/* author  */
.header__author {
  display: flex;
  padding-left: 14.8rem;
  padding-right: 14.9rem;
  margin-top: 14rem;
}

/* info  */
.header__author--info {
  width: 50.6rem;
}

.header__author--infoTitle {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6rem;
}

.header__author--infoDesc {
  margin-top: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.header__author--infoBtn {
  width: 20.8rem;
  height: 4.7rem;
  margin-top: 3.8rem;
  display: inline-block;
  background-color: #ff6464;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 4.7rem;
  border-radius: 0.2rem;
}

.header__author--avatar {
  margin-left: auto;
  position: relative;
  top: -1.8rem;
}

.header__author--avatar img {
  width: 24.3rem;
  height: 24.3rem;
}
