* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Heebo", serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  padding-top: 2.7rem;
}

.header__nav {
  display: flex;
  margin-left: auto;
}

.header__nav--item {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 3.3rem;
}

.header__author {
  display: flex;
}
